# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
*/project/project
*/project/target
*/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache

# IntelliJ / Play! stuff
.idea
/target
/out

# Ignore large resources
/conf/resources/allCountries.txt
/conf/resources/nationalities.json

