#infobox-container {
    overflow-y: auto;
    margin: 1em 0 0;
}

#infobox {
    display: table;
    text-align: center;
    width: 100%;
}

.event-container {
    margin: 20px 0;
    display: table-row;
}

.event-date, .event-desc {
    display: table-cell;
    padding: 5px;
}

.event-date {
    color: #666;
    text-align: right;
}

.event-desc {
    text-align: left;
}

.event-location {
    font-size: 160%;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    display: table-caption;
}

.wiki-page {
    display: block;
    font-weight: bold;
    font-size: 120%;
}
