#legend {
    font-size: 85%;

    position: fixed;
    bottom: 20px;
    right: 20px;

    display: table;

    background-color: rgba(238, 238, 244, 0.7);

    border: 1px solid #333;
    border-radius: 5px;
    padding: 4px;
}

.legend-item {
    display: -webkit-box;
}

.legend-symbol {
    font-size: 0.8em;
    display: inline-block;
}

.legend-description {
    text-align: left;
    padding-top: 0.25em;
    padding-bottom: 0;
}

.legend-symbol, .legend-description {
    padding: 0.2em;
}

#legend-symbol-color > div {
    width: 1.6em;
    height: 1.6em;
    margin: 0.15em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 0.15em solid #333;

    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red 50%, green 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red 50%, green 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red 50%, green 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, red 50%, green 50%); /* Standard syntax */
}

#social-container {
    border-top: 1px solid #AAA;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    font-size: 110%;
}

.social-icon { color: white; }
#facebook-container .social-circle { color: #3b5999; }
#twitter-container .social-circle { color: #55acee; }
