* {
    font-family: Helvetica, sans-serif;
}

#wikimap-d3 {
    width: 100%;
    height: 800px;
}

#wikimap-d3 svg {
    width: 100%;
    height: 100%;
    display: none;
}

#tooltip {
    display: none;
    position: absolute;

    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #DDD;

    text-align: center;
}

.event-date {
    font-weight: bold;
}

.event-desc {
    text-align: justify;
}
