* {
    font-family: Helvetica, sans-serif;
}

body {
    overflow: hidden;
    margin: 0;
}

#wikimap-d3 {
    width: 100%;
    height: 800px;
}

#wikimap-d3 svg {
    width: 100%;
    height: 100%;
    display: none;
}

#infobox {
    padding: 10px;
    text-align: center;
    overflow: auto;
}

.event-date {
    font-weight: bold;
}

.event-desc {
    text-align: justify;
}

.event-location {
    font-size: 120%;
    font-weight: bold;

    border-bottom: 1px solid #777;
}

#sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30%;

    background-color: #DDD;
    opacity: 0.9;

    border: 1px solid #333;
    border-radius: 5px;
    padding: 20px;
}

.date-input {
    width: 75px;
}
