body {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

#main-title {
    font-size: 300%;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-align: center;
}

.title-start {
    font-weight: bold;
    color: #333;
}
.title-end {
    font-weight: bold;
    color: rgb(44, 160, 44);
}

@media (min-width: 768px) {
    .alert {
        width: auto;
    }
}

.alert-info {
    background-color: #EEEEF4;
    border-color: #CCCCDD;
    color: #333;
}
