#options {
    text-align: center;
}

.date-input {
    width: 75px;
    font-size: 130%;
    text-align: center;
}

#search-sect {
    padding: 10px;
}

#search-box, #search-button {
    font-size: 130%;
}

#search-box {
    width: 75%;
}

#range-button {
    font-size: 130%;
}
