#options {
    text-align: center;
}

#options input, #options span, #options div, #options button {
    font-size: 110%;
}

.date-input {
    width: 75px;
    text-align: center;
}

#search-sect {
    margin-top: 10px;
    border-top: 1px solid #333;

    padding: 10px;
}

#search-box {
    width: 75%;
}

#options-or {
    margin: 5px;
}

#search-button {
    display: block;
    text-align: center;
    margin: 20px auto;
}
