#options {
    text-align: center;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    -webkit-flex: 1 1 15em;
    -moz-flex: 1 1 15em;
    flex: 1 1 15em;

}

#options input, #options span, #options div, #options button {
}

.date-input {
    width: 75px;
    text-align: center;
}

#search-sect {
    margin-top: 10px;
    border-top: 1px solid #333;

    padding: 10px;
}

#search-box {
    width: 75%;
}

#search-button {
    display: block;
    text-align: center;
    margin: 10px auto;
}
