#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
}

#infobox, #options {
    background-color: #EEEEF4;
    opacity: 0.95;

    border: 1px solid #333;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}
