#sidebar {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 500px;

    background-color: #EEEEF4;
    opacity: 0.95;
    border-right: 1px solid #333;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#search-box {
    margin-top: 10px;
}

#sidebar-toggle {
    position: fixed;
    top: 25px;
    left: 10px;
}
