[Unit]
Description=Play! Framework timeglo.be service

[Service]
Type=simple
ExecStart=/home/misha/WikiMap/start.sh

[Install]
WantedBy=multi-user.target
