@main("timeglobe", Seq("//d3js.org/d3.v3.min.js", "//d3js.org/topojson.v1.js", "//rawgit.com/1wheel/graph-scroll/master/graph-scroll.js")) {
    <div class="container">
        <div class="row">
            <div id="sidebar">

                <div id="options-container">
                    <div id="options">

                        <div id="range-sect">
                            <span class="range-text" id="range-title">From</span>
                            <input name="start-date" class="date-input" type="number" placeholder="Start">
                            <span class="range-text"> to </span>
                            <input name="end-date" class="date-input" type="number" placeholder="End">
                            <button id="range-button" class="btn btn-large">Go</button>
                        </div>

                        <div id="search-sect">
                            <input id="search-box" type="text" placeholder="Search">
                            <button id="search-button">Go</button>
                        </div>

                    </div>
                </div>

                <div id="infobox-container">
                    <div id="infobox">
                        Click on a point to see events
                    </div>
                </div>

            </div>
            <div id="wikimap-d3">
                <div id="tooltip"></div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="@routes.Assets.versioned("javascripts/scaler.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/wikimap.js")" type="text/javascript"></script>

    @for(css <- Seq("main", "graph", "sidebar", "options", "infobox", "sidebar")) {
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned(s"stylesheets/$css.css")">
    }
}
