@main("Wiki Map", Seq("//d3js.org/d3.v3.min.js", "//d3js.org/topojson.v1.js")) {
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="sect">
                    <span id="range-title">Date range:</span>
                    <span id="range-label"></span>
                    <div id="range-slider"></div>
                    <button id="range-button" class="btn btn-large">Update</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="sect" id="wikimap-d3">
                    <div id="tooltip"></div>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="@routes.Assets.versioned("javascripts/wikimap.js")" type="text/javascript"></script>
}
