@(title: String, apis: Seq[String])(content: Html)

<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="events,globe,history,time,map,data,visualisation,wikipedia,d3" />

        <meta property="og:image" content="https://timeglo.be@routes.Assets.versioned("images/icon.png")" />
        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="timeglo.be"/>
        <meta property="og:title" content="timeglo.be"/>
        <meta property="og:description" content="A visualisation of events across the globe" />

        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        @*CSS*@
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

        @*APIs*@
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        @for(a <- apis) {
            <script src="@a" charset="utf-8" type="text/javascript"></script>
        }
    </head>
    <body>
        @content
    </body>
</html>
